<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Mess Extras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
         
        <div class="panel panel-body col-xs-4 col-xs-offset-4" style="padding-left: 50px;">
  <div class="panel-body">
        <img src="img/logoi.jpg" alt="WSDC">
            <form   role="form" action="{% url 'Mess:login_user'%}" method="post" enctype="multipart/form-data">
        
  <div class="form-group">
    <label for="name">Name</label>
        <input type="text" name="name" class="field" id="name">
  </div>
  <div class="form-group">
    <label for="roll">Password:</label>
    <input type="Password" name="Password" class="field" required pattern="[a-zA-Z0-9]+" id="Password">
  </div>
 
  <button type="submit" class="btn btn-default">Submit</button>
  </form>
  </div>
  
  
    </body>
</html>
