<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mess Extras</title>
        <link rel="icon" type="image/jpg" href="img/lol.jpg" >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style/cs.css">
    </head>
    <body>
        
<div class="fakenavbar">
  <div class="container">
    <h2>Mess</h2>
  </div>
</div>

  <div class="container"> 
    <div class="jumbotron">
      <div class="jumbotron-content">
        <h1>Mess Portal</h1>
        <p class="jumbotron-xs-6">Please Login</p>
        <form name="user-info" action="{% url 'Mess:login_user'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <input type="submit" value="submit" name="submit
          ">
        </form >
      </div>
      <!--<p class="img-credit">Image Dynamically Provided by <a href="http://lorempixel.com">LoremPixel</a></p>-->
    </div>
    
    <!--<h2>Remaining Content...</h2>-->
  </div>

<div class="fakefooter">
  
</div>
</body>
    
</html>

